<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lesprojectprincipal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <!-- Permissão para acessar a área de memória externa -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissão para acessar a câmera diretamente -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.lesprojectprincipal.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.Imagem"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.Vencedor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.EscolhaDeImagem"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.NivelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.LogarFacebook"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.GameMedioActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.GameDificilActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.TesteTela"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.TutorialActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lesprojectprincipal.PontuacaoActivity"
            android:label="@string/title_activity_pontuacao" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"></activity>
    </application>
    

</manifest>
